## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [36]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [60]:
# Your code here

sample_list_1 = random.sample(range(0,100),80)

print(sample_list_1)
len(sample_list_1)

[73, 92, 8, 0, 90, 85, 72, 18, 23, 38, 3, 34, 12, 79, 70, 97, 84, 98, 2, 96, 75, 19, 67, 55, 56, 39, 11, 1, 91, 40, 80, 93, 33, 16, 59, 86, 26, 24, 77, 99, 62, 68, 64, 54, 63, 78, 76, 29, 25, 21, 61, 28, 10, 66, 6, 41, 15, 7, 58, 13, 4, 57, 82, 87, 17, 74, 22, 37, 60, 51, 48, 36, 94, 65, 20, 44, 42, 50, 46, 89]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [61]:
# Your code here

set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [66]:
# Your code here

sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0,100))
    
print(sample_list_2)

[25, 96, 90, 13, 33, 29, 91, 7, 76, 8, 98, 68, 27, 63, 21, 11, 56, 38, 46, 90, 4, 32, 42, 83, 38, 91, 78, 81, 96, 27, 70, 73, 10, 36, 56, 80, 90, 28, 19, 2, 13, 38, 37, 68, 97, 39, 69, 18, 93, 37, 29, 47, 23, 96, 82, 34, 90, 68, 19, 53, 55, 35, 24, 15, 95, 84, 15, 8, 12, 43, 70, 62, 44, 56, 9, 10, 12, 45, 26, 70]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [67]:
# Your code here

set2 = set(sample_list_2)

print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [82]:
# Your code here

set3 = set1.difference(set2)

print(len(set3))

35

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [78]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{32, 35, 69, 9, 43, 45, 47, 81, 83, 53, 27, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [85]:
# Your code here
set5 = set1.intersection(set2)

print(set5)

{2, 4, 7, 8, 10, 11, 12, 13, 15, 18, 19, 21, 23, 24, 25, 26, 28, 29, 33, 34, 36, 37, 38, 39, 42, 44, 46, 55, 56, 62, 63, 68, 70, 73, 76, 78, 80, 82, 84, 90, 91, 93, 96, 97, 98}

In [55]:
# Your code here

set5  =  set1  & set2

## (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [86]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
57
35
12
45

#### Create an empty set called `set6`.

In [87]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [89]:
# Your code here

set6.update(set3,set5)

print(set6)

{0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 33, 34, 36, 37, 38, 39, 40, 41, 42, 44, 46, 48, 50, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [90]:
# Your code here

if set1 == set6:
    print("They are equal")
else: print("They are not equal")

They are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [97]:
# Your code here

print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [100]:
# Your code here
Aggregate_1 = set3.union(set4,set5)
Aggregate_2 = set1.union(set2)

if Aggregate_1 == Aggregate_2:
    print("They are equal")
else:print("They are not")

They are equal

#### Using the `pop` method, remove an element from `set1`.

In [101]:
# Your code here

set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [104]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

add_to_list = set()

for i in set1:
    if i not in list_to_remove:
        add_to_list.add(i)

print(add_to_list)

{2, 3, 4, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 28, 33, 34, 36, 37, 38, 40, 42, 44, 46, 48, 50, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 84, 85, 86, 87, 90, 92, 93, 94, 96, 97, 98}